.App{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.685);
  height: 280px;
}
.h1
{
  font-size: large;
  padding: 30px;
}

.para
{
  padding-top: 20px;
  padding-bottom: 0px;
}

.desp {
  background-color: white;
  /* padding-left: 6px; */
  margin-top: 10;
  width: 100%;
  /* margin-right: -21px; */
  transform: skewX(-10deg);
  /* right: 0px; */
  border-left: 10px solid transparent;
  border-right: 40px solid transparent;
}

.desp > * {
  transform: skewX(10deg);
  margin-left: 10px;
}

.desp p {
  margin: 5px;
  margin-top: 5px;
  margin-left: 50px;
}

.desp button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1rem;
  cursor: pointer;
}

.desp button:active
{
  background-color: rgb(231, 113, 59);
}



.view-button {
  /* margin-left: 37px; */
  margin-left: 200px;
  margin-bottom: 5%;
}

.code-button {
  margin-left: 75px;
}

@media screen and (max-width: 725px) {
  .blogpost {
    height: 370px;
    width: 270px;
    flex-direction: column;
  }

  .head-img {
    height: 135px;
  }

  .desp {
    transform: skewX(0deg);
    width: 100%;
    height: 100%;
    padding: 0px 10px;
  }

  .desp > * {
    transform: skew(0deg);
  }

  .desp h1 {
    margin-left: -3px;
    font-size: 1.5rem;
  }

  .desp p {
    margin-left: -2px;
  }

  .desp button {
    margin: 0px;
    margin-left: -1px;
    margin-right: 15px;
    font-size: 0.9rem;
  }

  .tags {
    display: none;
  }
}
