@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #410076, #8820dd);
}
.alert
{
  margin-top: 100px;
 
  margin-left: 400px;
}
/* .S1
{
  margin:20%;
  padding: 50px;
}
.S2
{
  margin:20%;
  padding: 50px;
}
.S3
{
  margin:20%;
  padding: 50px;
} */

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(90deg, #410076, #8820dd);
}
